.mp-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 250px;
    padding: 20px;
    text-align: center;
}

.mp-title {
    font-size: 70px;
    font-weight: lighter;
}

.mp-total {
    font-size: 30px;
    margin-top: 30px;
    font-weight: lighter;
    margin-bottom: 50px;
}

.wallet-wrapper {
    width: 700px;
    min-height: 500px;
}


@media (max-width: 768px) {
    .mp-container {
        margin-top: 100px;
    }

    .mp-title {
        font-size: 40px;
    }

    .wallet-wrapper {
        width: 90%;
    }
}


@media (max-width: 480px) {
    .mp-container {
        margin-top: 60px;
    }

    .mp-title {
        font-size: 30px;
        padding: 0 15px;
    }

    .mp-total {
        font-size: 22px;
        margin-top: 20px;
        margin-bottom: 30px;
    }

    .wallet-wrapper {
        width: 100%;
        padding: 0 10px;
    }
}


@media (max-width: 320px) {
    .mp-container {
        margin-top: 150px; 
        padding: 10px;    
        margin-bottom: 150px;
    }

    .mp-title {
        font-size: 24px;  
        word-wrap: break-word; 
    }

    .mp-total {
        font-size: 18px;
        margin-top: 15px;
        margin-bottom: 20px;
    }

    .wallet-wrapper {
        width: 100%;
        padding: 0 5px;
        min-height: auto; 
    }
}
