
.imgItem{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
  transition: transform 0.3s ease;  
}
.imgWrapper {
  width: 100%;
  height: 650px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.imgItem:hover{
    transform: scale(1.02);
}

.cardConteiner{
  text-align: center;
  margin: 15px;
  padding: 12px;
  display: flex;
  flex-direction: column;
  height: 100%;
 
}

h2.nameTitle{
  font-size: 35px;
  font-weight: bolder;
  margin-top: 60px;
  margin-bottom: 12px;
  min-height: 60px;
}
.precio {
  font-size: 22px;
  font-weight: 300;
  margin: 12px 0;
}

.btn-largo {
  padding-left: 48px;
  padding-right: 48px;
  margin-top: auto;
  margin-bottom: 50px;
}

