
.imgItem{
   max-width: 50%; 
   border-radius: 5px;
   
}
.imgItem:hover{
    transform: scale(1.1);
}

.cardConteiner{
    text-align: center !important; 
    margin: 1px !important;
    padding: 2px !important;    
}

h2.nameTitle{
    font-size: 30px;
    font-weight: bold ;
}
.precio{
    font-weight: lighter;
    font-size: 20px;
}