html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}


#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.footerContainer {
  background-color: rgb(148, 122, 88);
  padding: 10px;
  width: 100%;
}