.conteinerCount {
  display: inline-flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
}

.buttonAg {
  font-size: 15px;
  text-align: center;
  min-width: 400px;
}



@media (max-width: 768px) {
  .buttonAg {
    min-width: 0 !important;
    width: 100%;
    max-width: 300px;
    font-size: 16px;
    padding: 12px;
  }

  .conteinerCount {
    margin-bottom: 10px;
  }

  .mx-5 {
    margin-left: 2rem !important;
    margin-right: 2rem !important;
  }
}