.banner-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.banner-container {
  width: 100%;
  height: 800px;
  margin-bottom: 40px;
}

.intro {
  text-align: center;
  font-size: 25px;
  font-weight: lighter;
  margin: 70px 20px 20px 90px;
  max-width: 90%;

}

.intro2 {
  text-align: center;
  font-size: 25px;
  font-weight: lighter;
  margin-left: 20px;
  margin-right: 90px;
}

.cierre {
  text-align: center;
  font-size: 30px;
  font-weight: lighter;
  margin-top: 30px;
  margin-bottom: 50px;
}

.trayectoria {
  margin-bottom: 30px;
}


@media (max-width: 1024px) {

  .intro,
  .intro2 {
    margin-left: 40px !important;
    margin-right: 40px !important;
    font-size: 22px;
  }

  .banner-container {
    height: 500px;
  }
}


@media (max-width: 768px) {
  .banner-container {
    height: 350px;
    margin-bottom: 25px;
  }

  .intro,
  .intro2,
  .cierre {
    margin: 20px auto !important;
    padding: 0 20px;
    max-width: 95%;
    font-size: 18px;
    line-height: 1.5;
    text-align: center;
  }

  .intro {
    margin-left: auto !important;
  }

  .intro2 {
    margin-right: auto !important;
  }

  .cierre {
    font-size: 22px;
    margin-top: 25px;
    margin-bottom: 40px;
  }
}

@media (max-width: 450px) {
  .banner-container {
    height: 250px;
    margin-bottom: 25px;
  }
}

@media (max-width: 300px) {
  .banner-container {
    height: 150px;
    margin-bottom: 25px;
  }
}