.banner-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.banner-container{
  width: 100%;
  height: 800px;
  margin-bottom: 40px;
}

.intro{
text-align: center;
font-size: 25px;
font-weight: lighter;
margin: 70px 20px 20px 90px;
max-width: 90%;

}
.intro2{
text-align: center;
font-size: 25px;
font-weight: lighter; 
margin-left: 20px;
margin-right: 90px;
}

.cierre{
text-align: center;
font-size: 30px;
font-weight: lighter;
margin-top: 30px;
margin-bottom: 50px;
}

.trayectoria{
  margin-bottom: 30px;
}