
nav ul{
    background-color: black;
    color: white;
    display: flex;
    text-align: center;
    flex-direction: row;
    justify-content:space-around;
    margin: 10px;
}

 li{
    list-style: none;
   
}

a{
    text-decoration: none;
    list-style: none;
    color: white;

}

h1{
    text-align: center;
    font-weight: bold;
    font-size: 50px;

}

header{
    background-color: rgb(148, 122, 88); 
}