nav ul{
    background-color: black;
    color: white;
    display: flex;
    text-align: center;
    flex-direction: row;
    justify-content:space-around;
    margin: 10px;
    flex-wrap: wrap; 
}

 li{
    list-style: none;
   
}

a{
    text-decoration: none;
    list-style: none;
    color: white;

}
a:hover{
    color:  rgb(72, 64, 54);
    
}

h1{
    text-align: center;
    font-weight: bold;
    font-size: 70px;
    padding: 10px;
    word-wrap: break-word;

}


header{
    background-color: rgb(148, 122, 88); 
}

@media (max-width: 1024px) {
  h1 {
    font-size: 70px;
  }
  a {
    font-size: 15px;
  }
}

@media (max-width: 768px) {
  nav ul {
    flex-direction: row; 
    gap: 15px;
  }
   h1 {
    font-size: 15px; 
  }
}
@media (max-width: 300px) {
  nav ul {
    padding: 10px;
  }
  h1 {
    font-size: 10px;
  }
  a {
    font-size: 10px;
  }
}
