nav ul{
    background-color: black;
    color: white;
    display: flex;
    text-align: center;
    flex-direction: row;
    justify-content:space-around;
    margin: 10px;
    flex-wrap: wrap; 
}

 li{
    list-style: none;
   
}

a{
    text-decoration: none;
    list-style: none;
    color: white;

}
a:hover{
    color:  rgb(117, 111, 102);
    
}

h1 {
  height: 300px;
  display: flex;
  align-items: center;       
  justify-content: center;    
  padding: 10px;
  margin: 0;
}

.logo {
  display: block;
  width: 600px;
  height: auto;
  max-height: none;
}



header{
    background-color: rgb(148, 122, 88); 
   
}

@media (max-width: 1024px) {
  h1 {
    font-size: 70px;
  }
  a {
    font-size: 15px;
  }
}

@media (max-width: 768px) {
  nav ul {
    flex-direction: row; 
    gap: 15px;
  }
   h1 {
    font-size: 15px; 
  }
}
@media (max-width: 300px) {
  nav ul {
    padding: 10px;
  }
  h1 {
    font-size: 10px;
  }
  a {
    font-size: 10px;
  }
}
