.imgDetail {
    max-width: 40%;
    margin-top: 15px;
    margin-bottom: 30px;
    border-radius: 7px;
}

.imgdDetailConteiner {
    display: flex;
    align-items: center;
    justify-content: center;
}

.price {
    font-weight: bolder;
    font-size: 28px;
    margin-bottom: 25px;
    margin-top: 20px;
}

.priceNumber {
    font-weight: lighter;
}

.nameDetail {
    font-size: 40px;
}

.descriptionDetail {
    max-width: 700px;
    margin: 25px auto 30px;
    font-size: 23px;
    font-weight: lighter;
    white-space: normal;
    word-break: break-word;
    overflow-wrap: break-word;
    line-height: 1.5;
    text-align: center;
    justify-content: center;
}


.btnVolver {
    margin-top: 15px;
    width: fit-content;
}

.volverContentDetail {
    display: flex;
    align-items: center;
    justify-content: center;
}

.terminarCompraButton {
    display: inline-block !important;
    width: fit-content !important;
    padding: 0.6rem 1.4rem !important;
    margin: 15px auto !important;
    font-size: 15px;
}


.cardConteinerDetail {
    text-align: center;
    margin: 15px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    height: 100%;
}